@font-face {
    font-family: "Kurale";
    src: url("../fonts/10369.ttf");
}
*{
    font-family: Kurale;
}
body{
    margin: 0px;
    background-image: url("../images/b2.jpg");
    text-align: center;
}

header{
    height: 60px;
    width: 100%;
    text-align: left;
    background-color: ghostwhite;
    display: inline-block;
}

header>.right{
    text-align: right;
    float: right;
    width: 50%;
    vertical-align: top;
}

header>.left{
    text-align: left;
    float: left;
    width: 50%;
}

header>.left img
{
    height: 50px;
    margin:5px;
    transition: transform 0.3s linear;
}

header>.left>img:hover
{
    transform: skew(-5deg,0deg);
}

header a{
    font-family: Kurale;
    font-size: 1.8em;
    text-decoration: underline;
    padding: 10px;
    margin:10px;
    /*background-color: #4f632c;*/
    color: darkslateblue;
    cursor: pointer;
}

#logout, #settings{
    height: 50px;
    margin: 5px;
}

#settings{
	transition: 0.5s ease-out;
}

#settings:hover{
	transform: rotate(20deg);
}

#settingsWindow{
    width: 400px;
    left: 50%;
    margin-left: -200px;
    display: none;
    position: absolute !important;
    top: 20vh;
    background-color: white;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.confirmFormButton {
    font-size: 2em;
    padding: 3px 20px;
    margin: 30px 0;
    background-color: #2d4f8a;
    color: white;
    transition: background-color 0.5s linear;
    display:inline-block;
}

#settingsWindow>p{
    margin: 4px 20%;
    text-align: left;
}

.confirmFormButton:hover {
    background-color: #325fa0;
}

.cancelFormButton {
    font-size: 2em;
    padding: 3px 20px;
    margin: 30px 0;
    background-color: #2d4f8a;
    color: white;
    transition: background-color 0.5s linear;
    display:inline-block;
}

.cancelFormButton:hover {
    background-color: #325fa0;
}

.field-value {
    font-size: 1.2em;
    margin: 4px 20%;
    width: 60%;
}