@font-face {
    font-family: "Kurale";
    src: url("../fonts/10369.ttf");
}
*{
    font-family: Kurale;
}
body{
    margin: 0px;
    background-image: url("../images/b2.jpg");
    text-align: center;
}

header{
    height: 60px;
    width: 100%;
}