@font-face {
    font-family: "Kurale";
    src: url("../fonts/10369.ttf");
}
*{
    font-family: Kurale;
}
body{
    margin: 0px;
    background-image: url("../images/b2.jpg");
    text-align: center;
}

header{
    height: 60px;
    width: 100%;
    text-align: left;
    background-color: ghostwhite;
    display: inline-block;
}

header>.right{
    text-align: right;
    float: right;
    width: 50%;
    vertical-align: top;
}

header>.left{
    text-align: left;
    float: left;
    width: 50%;
}

header>.left img
{
    height: 50px;
    margin:5px;
    transition: transform 0.3s linear;
}

header>.left>img:hover
{
    transform: skew(-5deg,0deg);
}

header a{
    font-family: Kurale;
    font-size: 1.8em;
    text-decoration: underline;
    padding: 10px;
    margin:10px;
    /*background-color: #4f632c;*/
    color: darkslateblue;
    cursor: pointer;
}

#logout, #settings{
    height: 50px;
    margin: 5px;
}

#settings{
	transition: 0.5s ease-out;
}

#settings:hover{
	transform: rotate(20deg);
}