@import "usersCommon.css";

body {
    text-align: center;
}


.group,.student {
    width: 100%;
    height: 80px;
    margin: 10px 0px;
    transition: 0.8s ease-out;
    transition-property: background-color, box-shadow;
    border-radius: 5px;
}

.group:hover, .student:hover {
    background-color: #cde8c5;
}

.group-leftColumn {
    height: inherit;
    float: left;
    width: 76%;
    padding: 0px 2%;
}

.group-rightColumn {
    height: inherit;
    float: right;
    width: 20%;
}

.group-extraButtons, .student-extraButtons {
    height: inherit;
    max-width: 100%;
}

.groupName, .groupStudentsAmount {
    margin: 0px;
    text-align: left;
}

.groupName {
    font-size: 1.5em;
}

.rightContent-inner {
    transition: 0.8s ease-in;
    transition-property: display;
}

#rightContent-inner2 {
    display: none;
}

.student{
    text-align: center;
}

.student>*{
    /*display: inline-block;*/
    height: inherit;
    font-size: 1.5em;
}
.student-name{
    text-align: left;
    float: left;
    width:56%;
}

.student-average-mark{
    width: 20%;
    float: left;
}

.student-edit-timetable{
    width:20%;
    float: right;
}
