#prevMonthBlock, #nextMonthBlock {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

#prevMonthBlock:hover {
    transform: translateX(-5px);
}

#nextMonthBlock:hover {
    transform: translateX(5px);
}

#nextMonthBlock {
    background-image: url("../images/next_month.png");
}

#prevMonthBlock {
    background-image: url("../images/prev_month.png");
}

#currMonthTitle {
    display: inline-block;
    vertical-align: top;
}

.Column {
    display: inline-block;
    margin: 3vh 20px;
    padding: 20px;
    min-height: 80vh;
    background-color: white;
    vertical-align: top;
}

#leftContent {
    width: 50%;
}

#rightContent {
    width: 30%;
    overflow: scroll;
}

.oneWeek {
    width: 100%;
    border-bottom: 4px double darkolivegreen;
}

.oneDay {
    text-align: left;
    margin: 10px;
}

.oneDay > div {
    display: inline-block;
    height: inherit;
    vertical-align: top;
}

.oneDay-dateTime {
    width: 20%;
    border-right: 2px solid #8dac46;
}

.oneDay-mark {
    width: 40px;
    border-right: 2px solid #8dac46;
    padding-right: 10px;
}

.oneDay-note {
    width: 60%;
}

.note-edit, .mark-edit {
    width: 100%;
    resize: vertical;
}

.func-buttons {
    margin: 10px;
    border-radius: 35px;
    border: solid 4px antiquewhite;
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #1e6c35;
    color: white;
    font-family: Kurale;
    transition: background 0.3s linear;
}

.func-buttons:hover{
    background-color: #26873f;
}